[Desktop Entry]
Type=Application
Name=Lookout
GenericName=Mail Client
Comment=Read and send mail through accounts configured in GNOME Online Accounts
Exec=lookout
Icon=io.github.gavindi.Lookout
Terminal=false
Categories=GNOME;GTK;Network;Email;
Keywords=Mail;Email;IMAP;SMTP;
StartupNotify=true
StartupWMClass=lookout
Actions=compose;contacts;calendar;tasks;

[Desktop Action compose]
Name=Compose New Message
Exec=lookout --compose
Icon=mail-message-new-symbolic

[Desktop Action contacts]
Name=Contacts
Exec=lookout --contacts
Icon=avatar-default-symbolic

[Desktop Action calendar]
Name=Calendar
Exec=lookout --calendar
Icon=x-office-calendar-symbolic

[Desktop Action tasks]
Name=Tasks
Exec=lookout --tasks
Icon=view-list-symbolic
